<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>AssetsTracker</mat-toolbar>
    <mat-nav-list>
      <mat-divider></mat-divider>
      <a mat-list-item [routerLink]="['stats']" routerLinkActive="router-link-active" >Stats</a>
      <a mat-list-item [routerLink]="['holdings']" routerLinkActive="router-link-active" >Holdings</a>
      <a mat-list-item [routerLink]="['earnings']" routerLinkActive="router-link-active" >Earnings</a>
      <mat-divider></mat-divider>
      <a mat-list-item routerLinkActive="router-link-active" (click)="funds()">Deposit / Withdraw Funds</a>
      <mat-divider></mat-divider>
      <a mat-list-item (click)="onSignOut()">Sign Out</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary" fxLayoutAlign="space-between center">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <app-balance></app-balance>
      <div class="user" fxLayoutAlign="center center">
        <mat-icon class="mat-18">account_circle</mat-icon>
        <div *ngIf="currentUser?.displayName; else userEmail" ><span> {{ currentUser.displayName }} </span></div>
        <ng-template #userEmail><span> {{ currentUser?.email }} </span></ng-template>

      </div>
    </mat-toolbar>
    <!-- Add Content Here -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
