<h2 mat-dialog-title>Buy / Sell</h2>
<form [formGroup]="buySellForm" (ngSubmit)="onSubmit()">
  <div mat-dialog-content>
    <mat-form-field appearance="outline">
      <mat-label>Input symbol</mat-label>
      <div formControlName="symbol"></div>
      <mat-error *ngIf="buySellForm.get('symbol').invalid">You must enter a value.</mat-error>
    </mat-form-field>
    <br />
    <mat-form-field appearance="fill">
      <mat-label>Select Category</mat-label>
      <mat-select formControlName="category" [value]="">
        <mat-option value="cash"> Cash </mat-option>
        <mat-option value="bonds"> Bonds </mat-option>
        <mat-option value="stocks"> Stocks </mat-option>
        <mat-option value="commodities"> Commodities </mat-option>
      </mat-select>
      <mat-error *ngIf="buySellForm.get('category').invalid">You must select a category.</mat-error>
    </mat-form-field>
    <br />
    <mat-form-field appearance="fill">
      <mat-label>Units</mat-label>
      <input formControlName="units" matInput type="number" class="example-right-align" />
      <mat-error *ngIf="buySellForm.get('units').invalid">You must enter a value.</mat-error>
    </mat-form-field>
    <br />
    <mat-form-field appearance="fill">
      <mat-label>Avg. open price</mat-label>
      <input formControlName="avgOpenPrice" matInput type="number" class="example-right-align" />
      <span matPrefix>$&nbsp;</span>
      <mat-error *ngIf="buySellForm.get('avgOpenPrice').invalid">You must enter a value.</mat-error>
    </mat-form-field>
  </div>
  <div mat-dialog-actions>
    <button type="button" mat-button mat-dialog-close (click)="buySellForm.reset()">Close</button>
    <button type="submit" mat-raised-button color="primary" [mat-dialog-close]="true" [disabled]="buySellForm.invalid">Save</button>
  </div>
</form>

