<h1 mat-dialog-title>Sign In Form</h1>
<form [formGroup]="loginForm" (ngSubmit)="onSignIn()">
  <div mat-dialog-content>
    <div class="example-container">
      <mat-form-field appearance="fill">
        <mat-label>Enter your email</mat-label>
        <input formControlName="inputEmail" type="text" matInput placeholder="pat@example.com">
        <mat-error *ngIf="loginForm.get('inputEmail').invalid">
          <div *ngIf="loginForm.get('inputEmail').errors.required" >You must enter a value.</div>
          <div *ngIf="loginForm.get('inputEmail').errors.pattern" >You must enter a valid email.</div>
        </mat-error>
      </mat-form-field>
      <br>
      <mat-form-field appearance="fill">
        <mat-label>Enter your password</mat-label>
        <input formControlName="inputPassword" type="password" matInput>
        <mat-error *ngIf="loginForm.get('inputPassword').invalid">
          <div *ngIf="loginForm.get('inputPassword').errors.required" >You must enter a value.</div>
          <div *ngIf="loginForm.get('inputPassword').errors.pattern" >Password should contain at least eight characters, one uppercase letter, one lowercase letter, one number and one special character.</div>
        </mat-error>
      </mat-form-field>
    </div>
  </div>
  <div mat-dialog-actions>
    <button type="button" mat-button mat-dialog-close>Close</button>
    <button type="submit" mat-raised-button color="primary" [mat-dialog-close]="true" [disabled]="loginForm.invalid">Sign In</button>
  </div>
</form>
<mat-divider></mat-divider>

<button id="google-signin" type="button" mat-flat-button [mat-dialog-close]="true" (click)="signInWithGoolge()">
  <img src="https://firebasestorage.googleapis.com/v0/b/portfolio-4b863.appspot.com/o/images%2Fgoogle-signin.png?alt=media&token=ebb82bb7-c326-4314-bca5-f05f025c5ffb" alt="google sign in">
</button>

<mat-divider></mat-divider>

<a role="button" id="signup-link" [mat-dialog-close]="true" (click)="openSignupDialog()">No account? Sign Up here!!</a>
