<div id="balance" fxLayout="row" fxLayoutAlign="start center">
  <div fxLayout="column" fxLayoutAlign="center center">
    <span>Cash balance: </span>
    <span> {{ cashBalance | currency }} </span>
  </div>

  <div fxLayout="column" fxLayoutAlign="center center">
    <span>Total allocated: </span>
    <span> {{ totalInvested | currency }} </span>
  </div>

  <div fxLayout="column" fxLayoutAlign="center center">
    <span>Open P/L: </span>
    <span> {{ totalProfitLoss | currency }} </span>
  </div>

  <div fxLayout="column" fxLayoutAlign="center center">
    <span>Open P/L%: </span>
    <span> {{ totalProfitLossPercent | percent:'1.2-2' }} </span>
  </div>

  <div fxLayout="column" fxLayoutAlign="center center">
    <span>Account value: </span>
    <span> {{ totalValue | currency }} </span>
  </div>
</div>

