table {
  width: 90%;
  margin: 2rem auto;
}

th.mat-sort-header-sorted {
  color: black;
}

.hide {
  display: none;
}

mat-footer-row mat-footer-cell {
  font-style: italic;
}

.total {
  font-weight: bold;
}
