<table mat-table [dataSource]="dataSource"  class="mat-elevation-z8">

  <!-- Symbol Column -->
  <ng-container matColumnDef="symbol">
    <th mat-header-cell *matHeaderCellDef >Symbol</th>
    <td mat-cell *matCellDef="let element">
      {{ element.symbol | uppercase }}
    </td>
    <td mat-footer-cell *matFooterCellDef></td>
  </ng-container>

  <!-- Category Column -->
  <ng-container matColumnDef="date">
    <th mat-header-cell *matHeaderCellDef >Date</th>
    <td mat-cell *matCellDef="let element">
      {{ element.date | date }}
    </td>
    <td mat-footer-cell *matFooterCellDef></td>
  </ng-container>

  <!-- Price Column -->
  <ng-container matColumnDef="openPrice">
    <th mat-header-cell *matHeaderCellDef >Open Price</th>
    <td mat-cell *matCellDef="let element">{{ element.openPrice | currency }}</td>
    <td mat-footer-cell *matFooterCellDef></td>
  </ng-container>

  <!-- Units Column -->
  <ng-container matColumnDef="closePrice">
    <th mat-header-cell *matHeaderCellDef>Close Price</th>
    <td mat-cell *matCellDef="let element">
      {{ element.closePrice | currency }}
    </td>
    <td mat-footer-cell *matFooterCellDef></td>
  </ng-container>

  <!-- Avg. Open Price Column -->
  <ng-container matColumnDef="profit">
    <th mat-header-cell *matHeaderCellDef >Profit</th>
    <td mat-cell *matCellDef="let element">
      {{ element.closePrice - element.openPrice | currency }}
    </td>
    <td mat-footer-cell *matFooterCellDef class="total"> {{ totalEarnings | currency }} </td>
  </ng-container>

  <!-- Actions Column -->
  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef >
      <button mat-raised-button (click)="openDialog()">Add earnings</button>
    </th>
    <td mat-cell *matCellDef="let row">
      <button mat-button color="primary" (click)="edit(row)">Edit</button>
      <button mat-button color="warn" (click)="deleteRow(row.$key)">Delete</button>
    </td>
    <td mat-footer-cell *matFooterCellDef></td>
  </ng-container>

      <!-- Loading column -->
  <ng-container matColumnDef="loading">
    <mat-footer-cell *matFooterCellDef>Loading data...</mat-footer-cell>
  </ng-container>

  <!-- No data column -->
  <ng-container matColumnDef="noData">
    <mat-footer-cell *matFooterCellDef>No data!! Add earnings!!</mat-footer-cell>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns" [ngClass]="{'hide' : noData}"></tr>
  <mat-footer-row *matFooterRowDef="['loading']" [ngClass]="{'hide' : dataSource != null || noData}"></mat-footer-row>
  <mat-footer-row *matFooterRowDef="['noData']" [ngClass]="{'hide' : noData == null || !noData}"></mat-footer-row>
  <tr mat-footer-row *matFooterRowDef="displayedColumns" [ngClass]="{'hide' : noData}"></tr>
</table>
