<div id="home" class="mat-typography" fxLayout="column">

  <div class="header" fxLayout="row">
    <mat-toolbar fxLayoutAlign="space-between center">
      <span>InvestTracker</span>
      <div>
        <button mat-button (click)="openSignupDialog()">Sign Up</button>
        <button mat-button (click)="openLoginDialog()">Sign In</button>
      </div>
    </mat-toolbar>
  </div>
  <div class="content" fxLayout="row">
    <div class="bg-shape" fxFlex="50" fxLayoutAlign="center center">
      <div fxLayout="column" fxLayoutAlign="center center">
        <h1 class="mat-display-2">Manage your investments</h1>
        <h3 class="mat-display-1">with the best portfolio Tracker App</h3>
        <button mat-raised-button color="primary" (click)="openSignupDialog()">GET STARTED - FOR FREE</button>
      </div>
    </div>
    <div class="bg-content" fxFlex="50" fxLayoutAlign="center center"></div>
  </div>

  <mat-divider></mat-divider>

  <div class="services" fxLayout="row" fxLayoutAlign="space-around center">
    <mat-card class="example-card">
      <img mat-card-image src="https://firebasestorage.googleapis.com/v0/b/portfolio-4b863.appspot.com/o/images%2Fasset-allocation.png?alt=media&token=a3de6c8b-5a84-4372-9a01-3d4144a27569" alt="Asset Allocation">
      <mat-card-header fxLayoutAlign="center center">
        <mat-card-title>Asset Allocation</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>
          Keep track of your asset allocation across types of investments and geographic locations.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="accent" (click)="openSignupDialog()">GET STARTED - FOR FREE</button>
      </mat-card-actions>
    </mat-card>
    <mat-card class="example-card">
      <img mat-card-image src="https://firebasestorage.googleapis.com/v0/b/portfolio-4b863.appspot.com/o/images%2Fperformance.png?alt=media&token=44dd4f25-22d2-4bf7-aa69-e014dfb7da86" alt="Performance">
      <mat-card-header fxLayoutAlign="center center">
        <mat-card-title>Performance</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>
          Keep track of your portfolio performance and take the right decision that will make the difference.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="accent" (click)="openSignupDialog()">GET STARTED - FOR FREE</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
