<div id="home" fxLayout="column">

  <div class="header" fxLayout="row">
    <mat-toolbar fxLayoutAlign="space-between center">
      <span>InvestTracker</span>
      <div>
        <button mat-button>Sign Up</button>
        <button mat-button>Login</button>
      </div>
    </mat-toolbar>
  </div>
  <div class="content" fxLayout="row">
    <div class="bg-shape" fxFlex="50" fxLayoutAlign="center center">
      <div fxLayout="column" fxLayoutAlign="center center">
        <h1 class="mat-display-2">Manage your investments</h1>
        <h3 class="mat-display-1">with the best portfolio Tracker App</h3>
        <button mat-raised-button color="primary">GET STARTED - FOR FREE</button>
      </div>
    </div>
    <div class="bg-content" fxFlex="50" fxLayoutAlign="center center"></div>
  </div>

  <div class="services" fxLayout="row" fxLayoutAlign="space-around center">
    <mat-card class="example-card">
      <img mat-card-image src="https://firebasestorage.googleapis.com/v0/b/portfolio-4b863.appspot.com/o/images%2Fasset-allocation.png?alt=media&token=a3de6c8b-5a84-4372-9a01-3d4144a27569" alt="Asset Allocation">
      <mat-card-header fxLayoutAlign="center center">
        <mat-card-title>Asset Allocation</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>
          Keep track of your asset allocation across types of investments and geographic locations.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="accent">GET STARTED - FOR FREE</button>
      </mat-card-actions>
    </mat-card>
    <mat-card class="example-card">
      <img mat-card-image src="https://firebasestorage.googleapis.com/v0/b/portfolio-4b863.appspot.com/o/images%2Fperformance.png?alt=media&token=44dd4f25-22d2-4bf7-aa69-e014dfb7da86" alt="Performance">
      <mat-card-header fxLayoutAlign="center center">
        <mat-card-title>Performance</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>
          Keep track of your portfolio performance and take the right decision that will make the difference.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="accent">GET STARTED - FOR FREE</button>
      </mat-card-actions>
    </mat-card>
  </div>

  <div class="footer" fxLayout="row" fxLayoutAlign="center center">
    <a href="https://rodfox.net/" target="_blank" fxLayoutAlign="center center">
      <img src="https://firebasestorage.googleapis.com/v0/b/portfolio-4b863.appspot.com/o/images%2Frodfox-logo-light.png?alt=media&token=700d531b-af7c-4a35-8ddb-f449cb7db340" alt="RodFox" style="width: 100px;">
      <small>Copyright © 2020, RodFox-Developers. All rights reserved.</small>
    </a>
  </div>
</div>
